.menu {
   .square {
      display: none;
   }

   &__link {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 30px;
      transition: 0.3s;

      &:hover {
         .square {
            display: inline-block;
         }
      }
   }

   &__item {
      margin-bottom: 8px;

      &:last-child {
         margin-bottom: 0;
      }

      &.is-active {
         .square {
            display: inline-block;
         }
      }

   }


}