//colors
$color-primary1: #74B959;
$color-primary2: #F7D345;
$color-base1: #000000;
$color-base2: #A6A6A6;
$color-base3: #DADADA;

//tipography
$fpbi: 'Favorit Pro Book Italic';
$fpb: 'Favorit Pro Book';
$fpi: 'Favorit Pro Italic';
$fpm: 'Favorit Pro Medium';
$fpr: 'Favorit Pro Regular';
$fpmi: 'Favorit Pro MediumItalic';
$fpl: 'Favorit Pro Light';
$fpli: 'Favorit Pro LightItalic';
$fpbi: 'Favorit Pro BoldItalic';
$fpb: 'Favorit Pro Bold';

//wrapper
$wrapper: 1224px;
$wrapper-pad: 28px;
$wrapper-pad-xs: 20px;

//media queries
$screen-sm: 1039px;
$screen-xs: 699px;

//grid
$gap: 36px;